# Backend API URL (optional in dev, defaults to host machine on port 4000)
# EXPO_PUBLIC_API_URL=http://localhost:4000

# Supabase Credentials
EXPO_PUBLIC_SUPABASE_URL=https://hofyrmeqrppzvpulnlnd.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_UvJ9Xp9397_J4gvQ7mywSw_LolQAl-n
